@using System.Security.Principal
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JR Rentals</h1>
</div>

<div class="text-center">

    <img src="MoviePicture.png" alt="Movie Image" width="250" height="250">

</div>

<br />

<div class="text-center">
    <p>Click the buttons below to browse our movie selection</p>
</div>

<div class="text-center">

    <button class="btn-primary" onclick="window.location.href = '@Url.Action("AllMovies", "Movie")'">All Movies</button>


</div>